@page "/books"

<PageTitle>Books</PageTitle>

@using MongoDB.Driver
@using LibraryApp.Data.Models
@inject MongoClient DbClient

<h1>Výpis knih</h1>

<p>Přehled všech knih v naší knihovně.</p>

@if (_books == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <TileHolder Books=_books></TileHolder>
}

@code {
    private IEnumerable<Book>? _books;

    protected override async Task<bool> OnInitializedAsync()
    {
        var db = DbClient.GetDatabase("library");
        var col = db.GetCollection<Book>(nameof(Book));
        _books = await col.FindAsync(x => true).Result.ToListAsync();
        return true;
    }

}