@page "/books"

<PageTitle>Books</PageTitle>

@using LibraryApp.Data.Models
@using LibraryApp.Data
@inject IMongoRepository<Book> MongoRepository

<h1>Výpis knih</h1>

<p>Přehled všech knih v naší knihovně.</p>

@if (_books == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <TileHolder Books=_books></TileHolder>
}

@code {
    private IEnumerable<Book>? _books;

    protected override Task<bool> OnInitializedAsync()
    {
        _books = MongoRepository.FilterBy(book => true);
        return Task.Run(() => true);
    }

}