@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to the Library</h1>

<AuthorizeView>
    <Authorized>
        <h2>Hello, @context.User.Identity?.Name</h2>
    </Authorized>
    <NotAuthorized>
        <h2>Hello, visitor.</h2>
    </NotAuthorized>
</AuthorizeView>