@page "/account"
@attribute [Authorize]

<AuthorizeView Roles="Admin">
    <NotAuthorized>
        <h3>Not an admin</h3>
        <p>You're not an admin</p>
    </NotAuthorized>
    <Authorized>
        <h3>Admin</h3>
        <p>Hey there, admin-thingy</p>
    </Authorized>
</AuthorizeView>

@code {
    
}