.structural {
    display: flex;
    flex-direction: row;
    height: 30rem;
    margin: 1em;
    padding: 1em;
}

.infographics{
    width: 30rem;
    background-color: #06357a;
}
.infographics.hidden {
    display: none;
}

.infographics {
    display: flex;
}

.tile {
    background-color: #2c3034;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 20rem;
}

.tile:hover {
    background-color: #055160;
    transition-duration: 1s;
}

.info {
    background-color: #055160;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1em;
}

.info h3 {
    text-decoration: underline;
}

.btn-primary.info-switch {
    align-items: center
}

img {
    width: 100%;
}