@using LibraryApp.Data.Models
@using System.Globalization
<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>@Title.Article.Name</strong>
    <span>@Title.Article.Released.ToString(CultureInfo.CurrentCulture)</span>
</div>

@code {
    [Parameter]
    public MArticle<Book> Title { get; set; }
}